body{
    font-family:"Noto Sans TC";
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    /* 高度檢查 */
} 

.header{
    background-color:white;
    width: 100vw;
    height: 54px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #f6f6f6;   
}

.headerTitle{
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-auto-columns:5fr 3fr;
    grid-auto-flow:column; 
}

.logo{
    font-size: 30px;
    color: #448899;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
}

.logo a {
    text-decoration: none; 
    color: inherit; 
}

.nav{
    display: flex; 
    justify-content:end;
    align-items: center; 
}


.book{
    font-size: 16px;
    padding-right: 30px;
    cursor: pointer;
    color: #666666;
    text-align: center;
    font-weight: 500;
}

.sign{
    font-size: 16px; 
    padding-left: 10px;
    padding-right: 15px;
    cursor: pointer;
    color: #666666;
    font-weight: 500;
}

footer {
    background-color: #757575;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100vw;
    height: 104px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.product{
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 100px auto 100px auto;
}

.greeting{
    text-align: start;
    margin:100px 0 30px 0;
}

.productInfo{
    max-width: 980px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 110px;
}

.pic{
    width: 250px;
    height: 200px;
}

.productIntro{
    padding-left: 20px;
    display: flex;
    flex-direction:column;
    width: 100%;
}


.delete{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 20%; 
    transform: translateY(-50%); 
}

.c1{
    max-width: 980px;
    font-weight: 700;
    font-size: 19px;    
    color: #666666;
    margin:20px 0 20px 110px;
}

.c2{ 
    font-size: 16px;
    font-weight: 700;
    color: #448899;
    margin: 20px 0 20px 0px;
    position: relative;
}


.c3{
    font-weight: 700;
    font-size: 16px;    
    color: #666666; 
}

.c4{
    font-weight: 700;
    font-size: 16px;    
    color: #666666; 
    margin:20px 0 20px 110px
}

.info{
    color: #666666;
    font-size: 16px; 
    font-weight: 400;
    margin: 5px 0;
}

.content{
    margin: 10px 0 20px 110px;
    color: #666666;
    font-size: 16px; 
    font-weight: 400;
}


.memberInfo, .creditCard{
    margin:30px 0;
    border-top: 1px solid #E8E8E8;
}

.total{
    text-align: end;
    color: #666666;
    font-size: 16px; 
    font-weight: 700;
}

.ensure{
    text-align: end;
    margin: 20px 0 20px 0;
}

.paybtn{
    background: #448899;
    width: 173px;
    height: 36px;
    top: 225px;
    left: 20px;
    border:none;
    border-radius: 5px;
    border-color: #448899;
    color: white;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}


.signin{
    display: none; 
    position: fixed;
    z-index:1;
    left:50%;
    top:35%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius:6px;
    width: 340px;
    height: 275px;
    background-color: white;
}

.signup{
    display: none; 
    position: fixed;
    z-index:1;
    left:50%;
    top:35%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius:6px;
    width: 340px;
    height: 332px;
    background-color: white;
}

.top_bar{
    background-color: #5a8fa1;
    height: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.popup_title{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.close {
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
}

.title{
    font-size:24px ;
    color: #666666;
    font-weight: 700;
    margin-left: 80px;
}

.signin_form, .signup_form{
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
}

.signup_name, .signup_email, .signup_password, .email, .password{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.submit {
    padding: 10px;
    background-color: #5a8fa1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.alertword{
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.login-footer a {
    color: #5a8fa1;
    text-decoration: none;
}

.message1, .message2{
    text-align: center;
    color:#5a8fa1;
    font-weight: 500;
    padding-bottom: 3px;
 }
 
.note{
    padding-top: 50px;
    padding-left: 10px;
    padding: 0px 10px 0px 10px;
    color: #666666;
}


@media screen and (max-width: 600px){
    .header{
        width: 100%;
    }

    .headerTitle {
        grid-auto-columns: 3fr 3fr;
        padding: 5px 10px 0px 10px;
    }

    .logo{
        padding: 0 0 0 5px;
    }
    
    .book{
        padding: 0;
    }

    .sign{
        padding-right:10px;
    }
   
    .signin, .signup{
        left:50%;
    }

    .paybtn{
        width:173px
    }

    .product{
        max-width: 360px;
    }

    .c1, .content, .c4{
        margin-left: 10px;
    }
    
    .productInfo{
        max-width: 340px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .pic{
        width: 340px;
        height: 200px;
        object-fit: cover;
        margin-right: 10px;
    }

    .productIntro{
        padding-left: 0px;
    }

    .delete{
        transform: translateY(500%);
    }

    footer{
        min-width: 360px;
        bottom: 0;
    }
}
